<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>{% block title %}Welcome!{% endblock %}</title>
                {% block stylesheets %}
                        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
						<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">				{% endblock %}
        </head>
        <body>
                <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand">Navigation</a>
						{% for message in app.flashes('success') %}
							<div class='alert alert-success'>
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
                        {% if app.user %}
                                <div>
                                        Bonjour {{ app.user.email }} <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}"><span class="icon-remove-circle"></span> Déconnexion</a>
                                </div>
                        {% else %}
                                <div>
                                        <a class="btn btn-sm btn-success" href="{{ path('app_login') }}">Se connecter</a>
                                </div>
                        {% endif %}
                </nav>
                <div class="container">
                        {% if message is defined %}
                                <div class="alert alert-danger">
                                        {{ message }}
                                </div>
                        {% endif %}
                        {% block body %}
                        {% endblock %}
                </div>
        </body>
</html>